BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
BinPackArguments: false
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
ColumnLimit: 120
